.create{
    float: right;
    margin-top:20px;
}

// .mat-stepper-vertical {
//     margin-top: 8px;
//   }
  
//   .mat-form-field {
//     margin-top: 16px;
//   }

  
table {
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}


